.wrapper {
  width: 450px;
  height: 450px;
  position: relative;
  background: gray;
}

.box {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  box-sizing: border-box;
  border: 1px solid #000;
  float: left;
}

.box-1 {
  margin: 300px 0 0 300px;
}

.box-2 {
  margin: -150px 0 0 150px;
}

.box-3 {
  margin: -300px 0 0 300px;
}

.box-4 {
  margin: -300px 0 0 150px;
}

.box-5 {
  margin: -450px 0 0 300px;
}

.box-6 {
  margin: -150px 0 0 0;
}

.box-7 {
  margin: -450px 0 0 150px;
}

.box-8 {
  margin: -300px 0 0 0;
}

.box-9 {
  margin: -450px 0 0 0;
}